.text-updater-node {
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
  
.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
}

.title{
  border: none;
  border-bottom: 1px solid #222;
}

.text{
  margin-bottom: 0.5rem;
  resize: none;
}